.button{
  width: 100%;
  background-color: darkblue;
  color: white;
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.button:disabled{
  background-color: #888;
  cursor: not-allowed;
}